.container {
    width: 100%;
    height: auto;
}
nav {
    width: 98%;
    height: auto;
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navBar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.navLinks {
    color: white;
    list-style: none;
    padding: 10px 0px;
    border:0;
}
li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    width: 90%;
}
.resultsBorder:hover {
    border: 2px solid blue;
}
.resultsBorder:active {
    border: 2px solid red;
}
#results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
p {
    padding: 0px 10px;
}
#audioBox {
    display: flex;
    flex-direction: row;
    width: auto;
    border: solid 1px black;
    justify-content: center;
}
.audioBox {
    margin: 5px;
}
.alignCenter{
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}